
/* Basic global styles */
html, body {
	margin: 0;
	padding: 0;
	font-family: system-ui, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #222;
	background: #fff;
}


#app {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-weight: 600;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 2em;
}

a {
	color: #3366cc;
	text-decoration: none;
	transition: color 0.2s;
}
a:hover {
	text-decoration: underline;
	color: #003399;
}

button {
	font-family: inherit;
	font-size: 1em;
	padding: 0.5em 1em;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #f5f5f5;
	cursor: pointer;
	transition: background 0.2s, border-color 0.2s;
}
button:hover {
	background: #eaeaea;
	border-color: #888;
}























